a {
  color: white;
}

body {
  text-align: center;
  background-color: rgb(109, 177, 154);
  font-family:'Josefin Sans', sans-serif;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #CCC;
  background: #333;
  padding: 10px;
  margin: auto;
}

.jumbotron {
  text-align: center;
  padding: 50px;
  background: #333;
  color: white;
}

li#doctor {
  list-style-position: inside;
  padding: 10px;
  list-style-image: url(https://img.icons8.com/dotty/36/doctors-bag.png);
}

li#patient {
  list-style-position: inside;
  padding: 10px;
  list-style-image: url(https://img.icons8.com/glyph-neue/48/cast.png);
}

p#foot {
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  
}

p#link {
  color: rgb(168, 168, 14);
}

