@{
    Layout = "_Layout";
}

<h1 class="jumbotron">Welcome to B and C's Healthcare Office</h1>

<p id="link">@Html.ActionLink("See list of Doctors", "Index", "Doctors")</p>
<p id="foot">@Html.ActionLink("See list of Patients", "Index", "Patients")</p>


